img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.signin {
  width: 101px;
  height: 49px;
  left: 77px;
  top: 504px;

  background: linear-gradient(
    180deg,
    #ff6584 0%,
    rgba(255, 83, 118, 0.35) 100%
  );
  border-radius: 20px;
  border: none;
  position: absolute;

  z-index: 2;
  font-family: 'Merge One';
font-style: normal;
font-weight: 500;
    font-size: 35px;
/* or 465% */
cursor: pointer;

color: #FFFFFF;

}
button::before {

    position: absolute;
  
    top: 50%;
  
    left: 50%;
  
    width: 100%;
  
    height: 100%;
  
    background-color: rgb(167, 37, 37);
  
    border: inherit;
  
    border-color: rgb(135, 38, 38);
  
    border-radius: inherit;
  
    transform: translate(-50%, -50%);
  
    opacity: 0;
  
    content: ' ';
  
  }
  button:active::before{
      opacity: 0.5;
  }
.signup {
    cursor: pointer;
  position: absolute;

  z-index: 2;

  margin: 72px 0px 0px 99px;
}
