img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.signin {
  width: 143px;
  height: 59px;
  left: 77px;
  top: 498px;

  background: linear-gradient(
    180deg,
    #ff6584 0%,
    rgba(255, 83, 118, 0.35) 100%
  );
  border-radius: 20px;
  position: absolute;

  z-index: 2;
}
.signup {
  position: absolute;

  z-index: 2;

  margin: 72px 0px 0px 99px;
}
