@import '~antd/dist/antd.css';

.ant-layout-header {
    background-color: #FFFFFF !important;
    font-family: Tahoma !important;
    font-weight: bold;
}

.footer {
    text-align: center;
}

.menu-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-items {
    display: flex;
}

.menu-item {
    color: black;
    text-align: center;
}

.menu-key {
    padding: 0 15px;
}

.menu-item :hover {
    background-color: #F0CCDC;
}

.headerLogo {
    max-width: 250px;
}